
$mainBlue: rgb(34, 69, 120);
$mainGrey: #F5F5F5;
$mainPurple:  #3A2F7A;
$mainAqua: rgba(128, 218, 213, 1.5);
// 202, 225, 222 1.2

* {
  margin: 0;
  padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}




body{
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
}


.parallax{
    background: url('https://lh5.googleusercontent.com/-XNfelPgZ_Og/TXlUZU82dEI/AAAAAAAAEno/HL2nCpR6ZwM/s1600/IMG_8162.png') repeat fixed 100%;
    &--inner{
        padding-top: 20%;
        padding-bottom: 20%;
        background: rgba(58, 47, 122, 0.9);
    }

    &__text-content{
        top:50%;
        transform: translateY(30%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title{
        font-weight: 200;
        color: #FFF;
        font-size: 4.9rem;
        margin: 0;
        font-family: 'Roboto';
    }

    &__subtitle{
        font-weight: 200;
        color: #FFF;
        font-size: 1.4rem;
        margin: 0;
    }
}




.btn{
    border-style: solid;
    border-color: rgba(128, 218, 213, 1.5);
    border-width: thin;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    transition: background .5s ease;



    &--small{
    font-size: 1rem;
    padding: .75rem .7rem;
    margin-top: 30px;
    }

    &--small:hover{
      background: $mainAqua;
    }

}

.tagline{
  background: $mainGrey;
}


.tagline-summary{
  font-size: 30px;
  font-weight: 100;
}

.features{
  background: $mainPurple;
}

.features-title{
  font-size: 26px;
  margin-bottom: 10px;
  color: $mainGrey;
}

.features--day{
  color: $mainAqua;
}

.features--schedule{
  font-size: 1.2rem;
}

.wrapper{
  display: flex;
  &--reviews{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &--colored{
    background: $mainBlue;
  }
}

.section-title{
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;

    &--blue{
        color:$mainBlue;
    }

    &--colored{
        color:$mainGrey;
    }
    &--large{
      font-size: 3.2rem;
      font-weight: 600;
    }
    &--summary{
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 35px;
      color: $mainAqua;
    }
}

.site-footer{
    background-color: $mainGrey;
    color: $mainBlue;
    padding: .5rem 0;
    text-align: center;

    &__text{
        display: block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 200;

        @mixin atMedium {
            display: inline;
            margin-bottom: 0;
            margin-right: 1.4rem;
        }
    }
}

.footer--signature{
  color: grey;
  font-size: 12px;
  font-weight: lighter;
}

.footer--signature a {
    color: grey;
    text-decoration: none;
}

.social_icon{
  max-width: 50px;
  max-height: 50px;
}
